.basicInfoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.basicInfoName {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
}

.basicInfoImage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /*background-color: lightblue;*/

}

.basicInfoImage img{
    width: 400px;
}

.basicInfoDescription {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: lightgreen;
    padding: 10px;
}

.guideCard{
    border: 1px solid red;
}
