.basicInfoContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

.basicInfoName {
    grid-column: 1 / -1;
    text-align: center;
    padding: 10px;
}

.basicInfoImage {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /*background-color: lightblue;*/

}

.basicInfoImage img{
    width: 400px;
}

.basicInfoDescription {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    /*background-color: lightgreen;*/
    padding: 10px;
}

.guideCard{
    /*border: 1px solid red;*/
    width: 75%;
    margin: 2rem auto;
    background-color: #F0EBE3;
    padding: 1rem;
}

h1, h2{
    text-align: center;
}

.horizontal-layout{
    display: flex;
    justify-content: space-around;
}

.vertical-layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    /*border: 1px solid red;*/
}

.vertical-layout div{
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
}

.equipment{
    /*border: 1px solid red;*/
    width: 40%;
    display: flex;
}

.guide-info{
    /*border: 1px solid black;*/
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guide-description{
    /*border: 1px solid red;*/
    /*background-color: #33774B;*/
    /*padding: 1rem;*/
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.guide-buttons{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    /*width: 50%;*/
    /*margin: 0 auto;*/
}

.guide-buttons a{
    /*border: 1px solid red;*/
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

