.pageTitle{
    text-align: center;
    /*border: 1px solid red;*/
}

.card{
    text-decoration: none;
    width: 200px;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    width: 80%;
    margin: auto;
    /*border: 1px solid black;*/
}

form{
    position: fixed;
    /*border: 1px solid red;*/
    padding: 0.5rem;
}

form div{
    display: flex;
    flex-direction: column;
}