*{
    box-sizing: border-box;
}

body{
    font-family: 'playfair-display', sans-serif;
    background-color: #F7F3EC;
    color: #495366;
}

header{
    height: 50px;
    background-color: #F0EBE3;
    display: flex;
    justify-content: space-around;
}

.mainContainer{
    max-width: 1400px;
    margin: auto;
    /*border: 1px solid red;*/
    min-height: 100vh;
 }

#card-container{
    /*border: 1px solid red;*/
}

.empty-notice{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
}

a{
    color: #495366;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #495366;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.nav-button:hover{
    background-color: #CEBBA5;
}

.svg-heart, .svg-star, .svg-thumb{
    width: 35px;
}

.svg-button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /*border: 1px solid red;*/
    width: 15%;
}

.svg-button p{
    margin: 0;
}

.added .svg-heart-color{
    fill: #f54040;
}

.added .svg-star-color{
    fill: #d0d06d;
}

.added .svg-thumb-color{
    fill: #d0d06d;
}

.box-button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    /*border: 1px solid;*/
    border: none;
    border-radius: 5px;
    background-color: #C6A68D;
    margin: 1rem;
    padding: 0.5rem;
    height: fit-content;
    color: #F0EBE3;
    transition: all ease-in 0.3s;
}

.box-button:hover{
    border-radius: 25px;
    background-color: #7E6A5A;
}

.line-button{
    /*text-decoration: none;*/
    color: #7E6A5A;
    transition: all ease-in-out 0.3s;
}

.line-button:hover{
    /*text-decoration: underline;*/
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);*/
    color: #495366;
}



.tool-bar{
    display: flex;
    /*border: 1px solid red;*/
    width: 75%;
    margin: 1rem auto;
    justify-content: space-between;
    align-items: center;
}

.tool-bar label{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

select{
    border: 1px solid #495366;
    border-radius: 15px;
    padding: 0 0.5rem;
}

.submit-button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #F7F3EC;
    background-image: linear-gradient(to right, #C6A68D 50%, #7E6A5A 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all ease-in-out 0.5s;
    /*font-size: 20px;*/
}

.submit-button:hover{
    background-position: left bottom;
}

input[type='text'], textarea{
    background-color: #FFFBF5;
    border: 1px solid #495366;
}

/*Font Settings*/
@font-face {
    font-family: 'playfair-display';
    src: url('../res/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

.skill {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
}

.skill-detail {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    border: 1px solid #ddd;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    width: max-content;
    max-width: 300px;
    transition: opacity 0.5s ease, visibility 0.3s;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.skill:hover .skill-detail {
    visibility: visible;
    opacity: 1;
}

.hot-review, .guide-brief-description{
    background-color: #F7F3EC;
    padding: 0 1rem;
}

.hot-review-text{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-card-bottom{
    display: flex;
}

.comment-info p{
    font-size: 14px;
}



