*{
    box-sizing: border-box;
}

body{
    font-family: 'playfair-display', sans-serif;
}

header{
    height: 50px;
    background-color: #EAE3CE;
    display: flex;
    justify-content: space-around;
}

.mainContainer{
    max-width: 1280px;
    margin: auto;
 }

nav{
    display: flex;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    width: 200px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.nav-button:hover{
    background-color: #DBD2B9;
}


/*Font Settings*/
@font-face {
    font-family: 'playfair-display';
    src: url('../res/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

